<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta charset="utf-8">-->
     <title>Circa Admin Portal</title>
     <link rel="stylesheet" href="static\style02.css">
 </head>
    <body>
       
      <section>
        <div class="form-box01">
            <div class="form-value">
                <form >
                    <h2>Ya Made it</h2>
                    <a href="{{url_for('add_orchard')}}"> <button type="button"  id="login">Add Orchard</button></a>
               
                </form>
            </div>
        </div>
     </section>

     <script type="Module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
    </body>


</html>