 
 <!DOCTYPE html>
 <html lang="en" dir="ltr">
     <head>
        
            <title>Circa Admin Portal</title>
            <!-- <link rel="icon" type="image/x-icon" href="/static/tabICN.ico"> -->
            <link rel="stylesheet" href="static\style.css">
     </head>
     <body>
         
         <div>
             <h1>Orchards</h1><br>
             <div class="container mt-3">
             <table class="table">
                 <thead class="table-success">
                     <tr>
                        
                         <th>&emsp;Orchard ID &emsp;</th>
                         <th>Orchard Name &emsp;</th>
                         <th>Orchard Owner &emsp;</th>
                         <th>Location &emsp;</th>
                         <th>&emsp;Admin Username &emsp;</th>
                         <th>Admin Password &emsp;</th>
                         <th>Admin Phone Number &emsp;</th>
                         <th>Admin Name &emsp;</th>
                         <th>Update &emsp;</th>
                         <th>Delete &emsp;</th>
                     </tr>
                 </thead><br>
                     <tr>
                     {% for orchard in orchard %}
                         <td>&emsp;{{ orchard.OR_ID }}</td>
                         <td>{{ orchard.OR_Name }}</td>
                         <td>{{ orchard.OR_Owner }}</td>
                         <td>{{ orchard.OR_Location }}</td>
                         <td>&emsp;{{ orchard.OR_AdminUN}}</td>
                         <td>{{ orchard.OR_AdminPW }}</td>
                         <td>{{ orchard.OR_ADPhone }}</td>
                         <td>{{ orchard.OR_ADName }}</td>
                         <td><a href="/update/{{orchard.OR_ID}}"> <button type="button" class="btn large btn-outline-success">Update</button></a></td>
                         <td><a href="/delete/{{orchard.OR_ID}}"> <button type="button" class="btn large btn-outline-danger">Delete</button></a></td>

                     </tr>
                     {% endfor %}
             </table>
             </div>
             <a href="{{url_for('add_orchard')}}"> <button type="button"  id="login">Add Orchard</button></a>
          
         </div>
     </body>
 
 
 
 
