<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <!-- <meta charset="utf-8">-->
     <title>Circa Admin Portal</title>
     <link rel="stylesheet" href="static\style02.css">
 </head>
    <body>
       
      <section>
        <div class="form-box03">
            <div class="form-value">
                <form >
                  <div>
                    <h2>Welcome to Circa Information Page</h2>
                    <br>
                  </div>
                  <div>
                    <h3> What is Circa?</h3>
                      <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                         Viverra tellus in hachabitasse platea dictumst vestibulum rhoncus est. Sed lectus vestibulum mattis ullamcorper velit sed
                          ullamcorper. Pellentesque dignissim enim sit amet venenatis. Phasellus faucibus scelerisque eleifend donec. Fringilla ut 
                          morbi tincidunt augue interdum. Mattis enim ut tellus elementum sagittis. Integer malesuada nunc vel risus commodo viverra 
                          maecenas accumsan lacus. Consectetur purus ut faucibus pulvinar elementum integer enim neque. Tincidunt lobortis feugiat vivamus at.
                           Elementum sagittis vitae et leo. Posuere morbi leo urna molestie at elementum eu facilisis. Consectetur adipiscing elit duistristique 
                           sollicitudin nibh sit amet commodo. Nibh praesent tristique magna sit amet purus. Aliquam ut porttitor leo a diam sollicitudin tempor id 
                           eu. Erat velit scelerisque in dictum non. Porttitor lacus luctus accumsan tortor posuere. Massa placerat duis ultricies lacus sed
                            turpis. Dignissim cras tincidunt loborts feugiat vivamus. Bibendum ut tristique et egestas quis ipsum suspendisse.
                       </h4>
                  </div>
                  <div>
                    <h3>How does it Work?</h3>
                        <h4> Leo in vitae turpis massa. Malesuada fames ac turpis egestas maecenas pharetra convallis. Diam ut venenatis tellus in metus vulputate eu scelerisque. Pharetra convallis posuere morbi leo urna molestie at. Volutpat maecenas volutpat blandit aliquam etiam erat. Ut pharetra sit amet aliquam id. Tortor vitae purus faucibus ornare. Et malesuada fames ac turpis egestas integer eget. Mattis molestie a iaculis at erat pellentesque adipiscing commodo elit. Egestas diam in arcu cursus euismod quis viverra. Aenean pharetra magna ac placerat vestibulum lectus mauris ultrices. Non blandit massa enim nec dui nunc. Donec ultrices tincidunt arcu non sodales neque sodales ut etiam. Commodo nulla facilisi nullam vehicula ipsum a arcu. Lacinia quis vel eros donec ac odio tempor orci.
                        </h4>
                  </div>
                  <div>
                        <h3>Who made it?</h3>
                        <h4>Ornare aenean euismod elementum nisi quis eleifend quam adipiscing vitae. Consectetur lorem donec massa sapien faucibus et molestie ac. Bibendum est ultricies integer quis auctor elit. Adipiscing diam donec adipiscing tristique risus. Vitae congue eu consequat ac felis donec. Euismod in pellentesque massa placerat duis ultricies. Diam sollicitudin tempor id eu nisl. Tristique risus nec feugiat in fermentum posuere urna nec. Tincidunt praesent semper feugiat nibh. Aenean euismod elementum nisi quis eleifend quam adipiscing vitae proin. Volutpat est velit egestas dui id ornare. Egestas quis ipsum suspendisse ultrices gravida dictum. Elit at imperdiet dui accumsan sit amet nulla. Laoreet sit amet cursus sit. Ultrices dui sapien eget mi. Augue interdum velit euismod in pellentesque massa. Non tellus orci ac auctor augue mauris augue neque. Scelerisque mauris pellentesque pulvinar pellentesque habitant morbi. Duis at consectetur lorem donec massa sapien.
                        </h4>
                  </div>
                  <div>
                        <h3>How do we sign up</h3>
                        <h4>
                        Risus in hendrerit gravida rutrum quisque non tellus orci ac. Feugiat nisl pretium fusce id velit ut tortor pretium viverra. Blandit volutpat maecenas volutpat blandit aliquam. Nulla facilisi cras fermentum odio eu. Turpis massa tincidunt dui ut ornare lectus. Aliquet nibh praesent tristique magna sit amet purus gravida quis. Mattis nunc sed blandit libero. Tristique senectus et netus et malesuada fames ac turpis. Neque gravida in fermentum et. Dignissim convallis aenean et tortor at risus viverra. Non diam phasellus vestibulum lorem sed risus ultricies. Suscipit tellus mauris a diam maecenas sed enim ut sem. Sit amet consectetur adipiscing elit ut aliquam purus sit. Cum sociis natoque penatibus et. Feugiat vivamus at augue eget arcu dictum. Vestibulum rhoncus est pellentesque elit ullamcorper. Elit sed vulputate mi sit amet mauris.
                        </h4>
                  </div>
                       
                    <br><br>
                    <div>
                   <a href="{{url_for('mainP')}}"> <button type="button"  id="main">Back to Main</button></a>
                   <br></div>
                 
                </form>
            </div>
        </div>
     </section>

     <script type="Module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
     <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
        
    </body>





</html>